// GLOBAL LAYOUT
///////////////////////////////////////////////////////////////////////////////

// GRID CONTAINER
.l-container {
  @include outer-container;
  max-width: em(940,16)
}

// HEADER
.l-header {
  @include media($medium-screen)  {
    @include span-columns(2);
  }
  color: #fff;
}

.l-header__brand {

}

.l-header__nav {
  text-align: center;
}

// MAIN COLUMN CONTENT
.l-content {
  @include media($medium-screen)  {
    @include span-columns(10);
    @include omega();
  }
  background-color: #fff;
}
