// GLOBAL LAYOUT
///////////////////////////////////////////////////////////////////////////////

// GRID CONTAINER
.l-container {
  @include outer-container;
}

// HEADER
.l-header {
  @include media($medium-screen)  {
    position: fixed;
    width: em(160,16);
  }
  text-align: center;
}

.l-header__brand {
  @include media($medium-screen)  {
    margin-top: em(80,16);
  }
  margin-top: em(40,16);
}

.l-header__nav {
  
}

// MAIN COLUMN CONTENT
.l-content {
  @include media($medium-screen)  {
    @include span-columns(10);
    @include omega;
    float: right;
  }
  background-color: #fff;
}

.l-footer {
  @include media($medium-screen)  {
    position: fixed;
    bottom: 0;
    width: em(160,16);
  }
  color: #fff;
  padding-bottom: 1em;
  text-align: center;
}